body {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-style: italic;
    color: purple;
}

nav a:link, nav a:visited {
    display: block;
    float: left;
    background-color: beige;
    color: black;
    width: 240px;
    padding: 20px 0;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px;
    font-size: 36px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(120, 120, 110);
    color: white;
}

.home-button:link, .home-button:visited {
    width: 1200px;
    background-color: rgba(190, 190, 190, 0.5);
    padding: 10px 0;
    font-size: 24px;

}

nav ul {
    list-style-type: none;
    padding: 0px;
}

nav li {
    display: inline;
}

header {
    height: 150px;
    margin: 50px 0 50px;
}

.reduced-header {
    height: 100px;
}


h1 {
    text-align: center;
    font-size: 100px;
    font-style: italic;
    margin-bottom: 100px;
}

.main-description {
    text-align: center;
    font-size: 28px;
    margin: 100px 0;
    padding: 0 64px;
}

.main-description sup {
    font-size: 14px;
}

img {
    float: right;
    margin-left: 50px;
}

footer figure {
    margin: 50px 0 0;
    padding: 0;
}

footer img {
    float: left;
    margin: 0 0 30px;
    padding: 0;
}

.desc {
    margin-bottom: 50px;
    padding: auto 0 auto;
    height: 450px;
}

h2 {
    margin: 100px 0 50px;
}

footer a {
    display: block;
    text-align: center;
    margin: 50px 0;
    background-color: beige;
    padding: 10px 0;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

ol li {
    margin: 10px 0 0;
}

ol, ul {
    padding: 0 100px;
}

article .steps {
    margin-top: 100px;
}

